In [1]:
import pandas as pd

In [2]:
DF = pd.read_csv("C:/Users/Saeed Ahmad/Desktop/Fifa_world_cup_matches.csv")

## Display the first few rows of the dataset

In [3]:
print(DF.head())

           team1         team2 possession team1 possession team2  \
0          QATAR       ECUADOR              42%              50%
1        ENGLAND          IRAN              72%              19%
2        SENEGAL   NETHERLANDS              44%              45%
3  UNITED STATES         WALES              51%              39%
4      ARGENTINA  SAUDI ARABIA              64%              24%

  possession in contest  number of goals team1  number of goals team2  \
0                    8%                      0                      2
1                    9%                      6                      2
2                   11%                      0                      2
3                   10%                      1                      1
4                   12%                      1                      2

        date   hour category  ...  penalties scored team1  \
0  20-Nov-22  17:00  Group A  ...                       0
1  21-Nov-22  14:00  Group B  ...                       0
2  21-Nov-22  17:00  Group A  ...                       0
3  21-Nov-22  20:00  Group B  ...                       0
4  22-Nov-22  11:00  Group C  ...                       1

   penalties scored team2  goal preventions team1  goal preventions team2  \
0                       1                       6                       5
1                       1                       8                      13
2                       0                       9                      15
3                       1                       7                       7
4                       0                       4                      14

   own goals team1  own goals team2  forced turnovers team1  \
0                0                0                      52
1                0                0                      63
2                0                0                      63
3                0                0                      81
4                0                0                      65

   forced turnovers team2  defensive pressures applied team1  \
0                      72                                256
1                      72                                139
2                      73                                263
3                      72                                242
4                      80                                163

   defensive pressures applied team2
0                                279
1                                416
2                                251
3                                292
4                                361

[5 rows x 88 columns]

In [4]:
# Check the data types and missing values
print(DF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 88 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   team1                                                  64 non-null     object
 1   team2                                                  64 non-null     object
 2   possession team1                                       64 non-null     object
 3   possession team2                                       64 non-null     object
 4   possession in contest                                  64 non-null     object
 5   number of goals team1                                  64 non-null     int64
 6   number of goals team2                                  64 non-null     int64
 7   date                                                   64 non-null     object
 8   hour                                                   64 non-null     object
 9   category                                               64 non-null     object
 10  total attempts team1                                   64 non-null     int64
 11  total attempts team2                                   64 non-null     int64
 12  conceded team1                                         64 non-null     int64
 13  conceded team2                                         64 non-null     int64
 14  goal inside the penalty area team1                     64 non-null     int64
 15  goal inside the penalty area team2                     64 non-null     int64
 16  goal outside the penalty area team1                    64 non-null     int64
 17  goal outside the penalty area team2                    64 non-null     int64
 18  assists team1                                          64 non-null     int64
 19  assists team2                                          64 non-null     int64
 20  on target attempts team1                               64 non-null     int64
 21  on target attempts team2                               64 non-null     int64
 22  off target attempts team1                              64 non-null     int64
 23  off target attempts team2                              64 non-null     int64
 24  attempts inside the penalty area team1                 64 non-null     int64
 25  attempts inside the penalty area  team2                64 non-null     int64
 26  attempts outside the penalty area  team1               64 non-null     int64
 27  attempts outside the penalty area  team2               64 non-null     int64
 28  left channel team1                                     64 non-null     int64
 29  left channel team2                                     64 non-null     int64
 30  left inside channel team1                              64 non-null     int64
 31  left inside channel team2                              64 non-null     int64
 32  central channel team1                                  64 non-null     int64
 33  central channel team2                                  64 non-null     int64
 34  right inside channel team1                             64 non-null     int64
 35  right inside channel team2                             64 non-null     int64
 36  right channel team1                                    64 non-null     int64
 37  right channel team2                                    64 non-null     int64
 38  total offers to receive team1                          64 non-null     int64
 39  total offers to receive team2                          64 non-null     int64
 40  inbehind offers to receive team1                       64 non-null     int64
 41  inbehind offers to receive team2                       64 non-null     int64
 42  inbetween offers to receive team1                      64 non-null     int64
 43  inbetween offers to receive team2                      64 non-null     int64
 44  infront offers to receive team1                        64 non-null     int64
 45  infront offers to receive team2                        64 non-null     int64
 46  receptions between midfield and defensive lines team1  64 non-null     int64
 47  receptions between midfield and defensive lines team2  64 non-null     int64
 48  attempted line breaks team1                            64 non-null     int64
 49  attempted line breaks team2                            64 non-null     int64
 50  completed line breaksteam1                             64 non-null     int64
 51  completed line breaks team2                            64 non-null     int64
 52  attempted defensive line breaks team1                  64 non-null     int64
 53  attempted defensive line breaks team2                  64 non-null     int64
 54  completed defensive line breaksteam1                   64 non-null     int64
 55  completed defensive line breaks team2                  64 non-null     int64
 56  yellow cards team1                                     64 non-null     int64
 57  yellow cards team2                                     64 non-null     int64
 58  red cards team1                                        64 non-null     int64
 59  red cards team2                                        64 non-null     int64
 60  fouls against team1                                    64 non-null     int64
 61  fouls against team2                                    64 non-null     int64
 62  offsides team1                                         64 non-null     int64
 63  offsides team2                                         64 non-null     int64
 64  passes team1                                           64 non-null     int64
 65  passes team2                                           64 non-null     int64
 66  passes completed team1                                 64 non-null     int64
 67  passes completed team2                                 64 non-null     int64
 68  crosses team1                                          64 non-null     int64
 69  crosses team2                                          64 non-null     int64
 70  crosses completed team1                                64 non-null     int64
 71  crosses completed team2                                64 non-null     int64
 72  switches of play completed team1                       64 non-null     int64
 73  switches of play completed team2                       64 non-null     int64
 74  corners team1                                          64 non-null     int64
 75  corners team2                                          64 non-null     int64
 76  free kicks team1                                       64 non-null     int64
 77  free kicks team2                                       64 non-null     int64
 78  penalties scored team1                                 64 non-null     int64
 79  penalties scored team2                                 64 non-null     int64
 80  goal preventions team1                                 64 non-null     int64
 81  goal preventions team2                                 64 non-null     int64
 82  own goals team1                                        64 non-null     int64
 83  own goals team2                                        64 non-null     int64
 84  forced turnovers team1                                 64 non-null     int64
 85  forced turnovers team2                                 64 non-null     int64
 86  defensive pressures applied team1                      64 non-null     int64
 87  defensive pressures applied team2                      64 non-null     int64
dtypes: int64(80), object(8)
memory usage: 44.1+ KB
None

In [5]:
# Summary statistics
print(DF.describe())

       number of goals team1  number of goals team2  total attempts team1  \
count              64.000000              64.000000             64.000000
mean                1.578125               1.109375             11.140625
std                 1.551289               1.055856              4.972519
min                 0.000000               0.000000              2.000000
25%                 0.000000               0.000000              8.000000
50%                 1.000000               1.000000             10.000000
75%                 2.000000               2.000000             14.000000
max                 7.000000               4.000000             25.000000

       total attempts team2  conceded team1  conceded team2  \
count             64.000000       64.000000       64.000000
mean              11.281250        1.109375        1.578125
std                5.807682        1.055856        1.551289
min                0.000000        0.000000        0.000000
25%                7.750000        0.000000        0.000000
50%               10.000000        1.000000        1.000000
75%               14.000000        2.000000        2.000000
max               32.000000        4.000000        7.000000

       goal inside the penalty area team1  goal inside the penalty area team2  \
count                           64.000000                           64.000000
mean                             1.468750                            0.984375
std                              1.563155                            0.999876
min                              0.000000                            0.000000
25%                              0.000000                            0.000000
50%                              1.000000                            1.000000
75%                              2.000000                            2.000000
max                              7.000000                            4.000000

       goal outside the penalty area team1  \
count                            64.000000
mean                              0.093750
std                               0.293785
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                               0.000000
max                               1.000000

       goal outside the penalty area team2  ...  penalties scored team1  \
count                            64.000000  ...               64.000000
mean                              0.109375  ...                0.140625
std                               0.314576  ...                0.350382
min                               0.000000  ...                0.000000
25%                               0.000000  ...                0.000000
50%                               0.000000  ...                0.000000
75%                               0.000000  ...                0.000000
max                               1.000000  ...                1.000000

       penalties scored team2  goal preventions team1  goal preventions team2  \
count               64.000000               64.000000               64.000000
mean                 0.125000               11.593750               11.359375
std                  0.377964                5.911299                4.990045
min                  0.000000                0.000000                2.000000
25%                  0.000000                7.750000                8.000000
50%                  0.000000               11.000000               10.000000
75%                  0.000000               14.000000               14.000000
max                  2.000000               32.000000               26.000000

       own goals team1  own goals team2  forced turnovers team1  \
count        64.000000        64.000000               64.000000
mean          0.015625         0.015625               71.968750
std           0.125000         0.125000               14.394629
min           0.000000         0.000000               38.000000
25%           0.000000         0.000000               63.000000
50%           0.000000         0.000000               71.000000
75%           0.000000         0.000000               83.500000
max           1.000000         1.000000              101.000000

       forced turnovers team2  defensive pressures applied team1  \
count               64.000000                          64.000000
mean                70.125000                         289.750000
std                 13.531269                          88.406888
min                 44.000000                         139.000000
25%                 60.250000                         229.000000
50%                 72.000000                         281.000000
75%                 79.000000                         328.000000
max                104.000000                         637.000000

       defensive pressures applied team2
count                          64.000000
mean                          293.265625
std                            80.916230
min                           141.000000
25%                           233.750000
50%                           292.500000
75%                           327.500000
max                           585.000000

[8 rows x 80 columns]

In [6]:
# use the colums need to be used.
df = DF[['team1', 'team2', 'possession team1', 'possession team2', 'number of goals team1',
       'number of goals team2', 'date', 'hour', 'category',
       'total attempts team1', 'total attempts team2',  'assists team1', 'assists team2',
       'on target attempts team1', 'on target attempts team2',
       'off target attempts team1', 'off target attempts team2']].copy()

In [7]:
#To check the data types of the columns
df.dtypes

team1                        object
team2                        object
possession team1             object
possession team2             object
number of goals team1         int64
number of goals team2         int64
date                         object
hour                         object
category                     object
total attempts team1          int64
total attempts team2          int64
assists team1                 int64
assists team2                 int64
on target attempts team1      int64
on target attempts team2      int64
off target attempts team1     int64
off target attempts team2     int64
dtype: object

In [8]:
df.head(5)

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,42%,50%,0,2,20-Nov-22,17:00,Group A,5,6,0,1,0,3,5,3
1,ENGLAND,IRAN,72%,19%,6,2,21-Nov-22,14:00,Group B,13,8,6,1,7,3,3,4
2,SENEGAL,NETHERLANDS,44%,45%,0,2,21-Nov-22,17:00,Group A,14,9,0,1,3,3,8,5
3,UNITED STATES,WALES,51%,39%,1,1,21-Nov-22,20:00,Group B,6,7,1,0,1,3,4,3
4,ARGENTINA,SAUDI ARABIA,64%,24%,1,2,22-Nov-22,11:00,Group C,14,3,0,1,6,2,5,0

In [9]:
#change the date column
df.date = pd.to_datetime(df.date)
df.head()

C:\Users\Saeed Ahmad\AppData\Local\Temp\ipykernel_38220\400548711.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.date = pd.to_datetime(df.date)

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,42%,50%,0,2,2022-11-20,17:00,Group A,5,6,0,1,0,3,5,3
1,ENGLAND,IRAN,72%,19%,6,2,2022-11-21,14:00,Group B,13,8,6,1,7,3,3,4
2,SENEGAL,NETHERLANDS,44%,45%,0,2,2022-11-21,17:00,Group A,14,9,0,1,3,3,8,5
3,UNITED STATES,WALES,51%,39%,1,1,2022-11-21,20:00,Group B,6,7,1,0,1,3,4,3
4,ARGENTINA,SAUDI ARABIA,64%,24%,1,2,2022-11-22,11:00,Group C,14,3,0,1,6,2,5,0

In [10]:
# chane possession team1 column to int
df['possession team1'] = df['possession team1'].str.replace('%', '').astype(int)

# Display the modified DataFrame
df.head(5)

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,42,50%,0,2,2022-11-20,17:00,Group A,5,6,0,1,0,3,5,3
1,ENGLAND,IRAN,72,19%,6,2,2022-11-21,14:00,Group B,13,8,6,1,7,3,3,4
2,SENEGAL,NETHERLANDS,44,45%,0,2,2022-11-21,17:00,Group A,14,9,0,1,3,3,8,5
3,UNITED STATES,WALES,51,39%,1,1,2022-11-21,20:00,Group B,6,7,1,0,1,3,4,3
4,ARGENTINA,SAUDI ARABIA,64,24%,1,2,2022-11-22,11:00,Group C,14,3,0,1,6,2,5,0

In [11]:
# chane possession team2 column to int
df['possession team2'] = df['possession team2'].str.replace('%', '').astype(int)

# Display the modified DataFrame
df.head(5)

,team1,team2,possession team1,possession team2,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2
0,QATAR,ECUADOR,42,50,0,2,2022-11-20,17:00,Group A,5,6,0,1,0,3,5,3
1,ENGLAND,IRAN,72,19,6,2,2022-11-21,14:00,Group B,13,8,6,1,7,3,3,4
2,SENEGAL,NETHERLANDS,44,45,0,2,2022-11-21,17:00,Group A,14,9,0,1,3,3,8,5
3,UNITED STATES,WALES,51,39,1,1,2022-11-21,20:00,Group B,6,7,1,0,1,3,4,3
4,ARGENTINA,SAUDI ARABIA,64,24,1,2,2022-11-22,11:00,Group C,14,3,0,1,6,2,5,0

In [12]:
# check if there are empty or blank spaces

null_values = df.isnull().sum()
null_values

team1                        0
team2                        0
possession team1             0
possession team2             0
number of goals team1        0
number of goals team2        0
date                         0
hour                         0
category                     0
total attempts team1         0
total attempts team2         0
assists team1                0
assists team2                0
on target attempts team1     0
on target attempts team2     0
off target attempts team1    0
off target attempts team2    0
dtype: int64